#Messanger{
opacity:0;
}
/*Module Common Css*/
* {
    font-family: 'Open Sans';
    line-height: 1.5em;    
}



body {    
    display: block;
    margin: 0px 2px;
    color:#333333;
    box-sizing: border-box;
}

html[xmlns] .clearfix {
    display: block;
}

h1 {
    font-size: 26px;
    color:#333339;
}
h2 {
    font-size: 23px;
}
h3 {
    font-size: 18px;
    margin: 5px 0px;    
}
h4 {
    font-size: 16px;
}
h2.pageheading{
    margin: 0 10%;
    padding-bottom: 10px;
}

h2.top-slider-heading{
    margin-top: 0px;
    margin-bottom: 0px;
}
hr {width:100%;border:0px;height: 0px;border-bottom: 1px solid #999999;}
fieldset{border: 0px;}
div,p,span,input{/*font-size: 16px;*/    margin: 0;}
input,table {
    font-size: 16px;
}
td > span {
    font-size: 16px;
}

input[type='button'], button{
    color: white;    
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(13, 67, 113);
    border-color: rgb(0, 0, 0);
    border-width: 0px;    
    cursor: pointer;
    min-width: 100px;
}

a:focus, input:focus, button:focus, textarea:focus, select:focus, a:active, input:active, button:active, textarea:active, select:active {
    /* outline: #ff8c00 solid 2px; */
}

.mxwidth{
    max-width: 990px;
}
.headmargin{
    margin-top: 0px;
}

#wrapper {    
    width: 100%;
    height: auto;
	border: 1px solid #cccccc;
	min-height: 80px;
    margin: 0 auto;
	display: table;
    margin-bottom: 10px;
}
main [role='main']{
    clear:both;
}
.innerWrapper {
    clear: both;
}
.wrapper-img img{
    width:100%;
}
/*Header Css Start*/
.main-content {
    min-height: 437px;
    padding-bottom: 20px;
    margin: 0 10%;
    width: 100%;
    max-width: 815px
}
#header-content {
    float: left;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    position: relative;
}
#header-title {
    background: #FFF;
    text-align: center;
    min-height: 60px;
    border-bottom: 1px solid #cccccc;
    display: flex;
  
}
#header-title h1 {
    color: #333333;
    margin-top: 0px;
    padding-top: 7px;
    width: 70%;
    /*margin: 0 auto;*/  
}
#header-title .logo {
    float: left;
    margin: 10px 2%;
    height: 35px;
}
#header-title .team {
    float: right;
    margin: 11px 2%;
    height: 35px;
    cursor: pointer;
}
#progressInnrDiv{
    font-size:16px !important;
    /*font-weight: bold;*/
    color: #333333;
    /*margin-left: 70px;*/
}
#header-progress {
    height: 30px;
    float: left;
    width: 100%;
    background: #FFF;
    margin-top: 8px;
    margin-bottom:20px;
    z-index:1;
}
#header-progress .progress {
    width: 50%;
}
    #header-progress .background {
        width: 100%;
        height: 6px !important;
        border-radius: 5px;
        background: #eae8e8;
        border: 1px solid #f1f1f1;
        margin-top: 10px;
        margin-bottom: 5px;
    }
#header-progress .background .section {
    width: 25%;
    text-align: right;
    float:left;
}

#header-progress .background .filler {
    height: 5px;
    position: relative;
}


#header-progress .scale {
    width: 50%;
    height: 18px;
    display: flex;
    justify-content: space-around;    
}
#header-progress .scale .filler {
    font-size: 12px;
}
#scoreInnrDiv {
    display:-webkit-inline-box;
}
#header-btn-container {
    float: left;
    width: 100%;    
}
#header-btn-container .wrapper{
    float:right;
    widows:auto;
}
#header-btn-container .linkppf-p, #header-btn-container .linksurplus-p {    
    margin: 5px 5px;
    background: #045C42;    
}
#header-btn-container .linksurplus-p {margin-right: 0px;}
#header-btn-container .linkppf-p img, #header-btn-container .linksurplus-p img {
    padding-left: 5px;
    position: relative;
    top: 2px;
}
/*Header Css End*/

/*Footer Css Start*/
#footer-navigation {
    background-color: #FFF;
    width: 100%;
    height: 38px;
    display: table;
    border-top: 1px solid #CCCCCC;
}

#footer-navigation .previous, #footer-navigation .next {   
    width: 50%;
    float: left;
    padding: 15px 0px;
}
#footer-navigation .previous a, #footer-navigation .next a {
    text-decoration: none;
    position: relative;    
    display: inline-flex;
    color: #005976;
}

#footer-navigation .previous a {
    float: right;
    margin-right: 50px;
}

#footer-navigation .next a {
    float: left;
    margin-left: 50px;
}

#footer-navigation .previous .prevImg, #footer-navigation .next .nextImg {
    width: 18px;
}

#footer-navigation .previous a span, #footer-navigation .next a span {
    margin-top: 4px;
}

/*Footer Css End*/

/*Custom Header Css*/
.top-slider-wrapper{
    margin: 0 20px;
}


/*Custom Header Css End*/
.marginLR {
    margin: 0% 2%; 
    width: 96%;     
}
.autowidth{
    width: auto;
}
 .posrel{
     position: relative; 
     margin-bottom: auto;
 }
 .displaynone
 {
     display: none !important;
 }
 .pgBgItemFill {
    background-color: #003F6A;
    height: 7px;
    position: relative;
    border-radius: 5px
}
#infoDetails, #transcriptDetails {
    text-align: left;    
    z-index: 99;
    border-radius: 0px;
    background-color: #fff;
    font-size: 16px;
    color: #333333;
    padding-bottom: 10px;
    margin: 0 10%;
    width: 100%;
    max-width: 815px;
    clear: both;
    display:none;
}

#infoDetails {
    border-bottom: 1px solid #cccccc;
}

/* Transcript page css */
.tranPage {
    display: none;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width:100%;
}

    .tranPage .option-group .Toption {
        display: none;
    }

#teamWMsg, #teamFMsg, #lastspanNext, #teamRMsg {
    display: none;
}

.tranPage h1 {
    font-size: 16px;
}
/*end*/

/* Result page css */
.qHeader, .qData {
    width: 100%;
    display: inline-block;
}

    .qHeader div {
        float: left;
        margin-right: 10px;
    }

    .qHeader h1 {
        font-size: 16px;
        margin: 0;
    }

    .qHeader img {
        height: 11px;
        width: 5px;
    }

        .qHeader img.selctImg {
            height: 6px;
            width: 11px;
            margin-bottom: 2px;
        }

        .qHeader img.isOpen {
            height: 6px;
            width: 11px;
            margin-bottom: 2px;
        }

.qData {
    margin-bottom: 15px;
    border-bottom: 1px solid #c1c1c1;
    margin-left:20px;
    width:95%;
}

    /*.qData div {
        padding-left: 11px;
    }*/

.qHeader {
    margin-top: 10px;
}

.reportHeader, .gradeSuccessStatus {
    border-bottom: 2px solid #a1daea;
    /*margin-bottom: 10px;*/
    padding: 5px 0px 5px 0px;
    display: inline-block;
    width: 100%;
}

#gradeSuccessText {
    float: left;
    width: 81%;
    padding: 0 2%;
}

#gradeSuccessButton {
    width: 15%;
    float: left;
}

#reportHTitle {
    padding: 0 2%;
    margin-bottom: 5px;
    width: 15%;
    float: left;
    border-right-style:solid;
    border-width:3px;
    border-color:#007fa2;
}
#resultexpand {
   padding:5px;
}
#reportRetry {
    padding: 0 2.8%;
    margin-bottom: 5px;
    float: right;
}

.retryattemtDiv {
    float: left;
    margin: 8px 15px 0px 0px;
}

#retryattemptText{
    font-size:13px;
}

.retryButtonDiv {
    float: right;
}

#gradeChart {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding-bottom: 2rem;
    border-bottom: 2px solid #a1daea;
}

#inScrTxt1, #inScrTxt2, #inScrTxt3 {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 105%;
    font-size: 14px;
    font-weight: bold;
    width: 120%;
    left: -5%;
}
.pieimage {
 margin-left:15px;
 float:left;
}
.resultexpand {
 border-left-style:solid;
 border-left-color: #007fa2;
}
.qTitle {
width:75%;
text-decoration:underline;
}
.LOResultData {
    width: 90%;
    margin: 10px 0px 0px 10px;
    display: inline-block;
}

.LOResultName {
    float: left; /* margin-right: 28%; */
    margin-right: 5%;
    width: 65%;
}

.LOResulteText {
    float: left;
    width: 20%;
}

.qScore {
    float: right !important;
    margin-right: 0px !important;
}

.qArrowlink, .qTitle {
    cursor: pointer;
}
/*end*/

.introTeamNameChange {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

input.introTeamNameChangeBtn {
    min-width: 20px;
    padding: 2px 5px;
}

table.l1CustomTable {
    font-size: 15px !important;
    border-collapse: collapse;
    width: 100%;
}

    table.l1CustomTable td {
        border-bottom: 0px solid #d3d3d3;
        
    }

    table.l1CustomTable th {
        border-bottom: 1px solid #d3d3d3;
        padding: 3px;
    }

    table.l1CustomTable td:nth-child(1){
        
    }

  